- https://school.programmers.co.kr/learn/courses/30/lessons/12933

- 문제 설명     
함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.       

- 제한 조건       
n은 1이상 8000000000 이하인 자연수입니다.       

- 입출력 예       
n	return      
118372	873211

In [27]:
def solution(n):
    a = list(str(n))
    a.sort(reverse=True)
    
    return int("".join(a))

solution(116436283)

866433211

In [26]:
a = ["6", "7", "1", '3', '5']
a.sort(reverse=True)
print("".join(a))

76531